* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

::-webkit-scrollbar {
    width: 0;
    background: transparent; /* make scrollbar transparent */
}

/* Source: https://stackoverflow.com/questions/43186015/css-hide-scroll-bar-but-have-element-scrollable */

:root {
    --blueActive: #0077C8;
    --blueDisabled: rgba(115, 198, 255, 0.25);
    --whiteText: #fafafa;
    --blackText: #222;
    --controlsBg: #f3f3f3;
    --blueHover: #0089e7;
}

body {
    padding: 20px;
}

/* WebFont Import */
/* roboto-300 - latin */
@font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 300;
    src: url('../fonts/roboto-v30-latin-300.eot'); /* IE9 Compat Modes */
    src: url('../fonts/roboto-v30-latin-300.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */ url('../fonts/roboto-v30-latin-300.woff2') format('woff2'), /* Super Modern Browsers */ url('../fonts/roboto-v30-latin-300.woff') format('woff'), /* Modern Browsers */ url('../fonts/roboto-v30-latin-300.ttf') format('truetype'), /* Safari, Android, iOS */ url('../fonts/roboto-v30-latin-300.svg#Roboto') format('svg'); /* Legacy iOS */
}

/* roboto-regular - latin */
@font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/roboto-v30-latin-regular.eot'); /* IE9 Compat Modes */
    src: url('../fonts/roboto-v30-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */ url('../fonts/roboto-v30-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */ url('../fonts/roboto-v30-latin-regular.woff') format('woff'), /* Modern Browsers */ url('../fonts/roboto-v30-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */ url('../fonts/roboto-v30-latin-regular.svg#Roboto') format('svg'); /* Legacy iOS */
}

/* roboto-italic - latin */
@font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Roboto';
    font-style: italic;
    font-weight: 400;
    src: url('../fonts/roboto-v30-latin-italic.eot'); /* IE9 Compat Modes */
    src: url('../fonts/roboto-v30-latin-italic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */ url('../fonts/roboto-v30-latin-italic.woff2') format('woff2'), /* Super Modern Browsers */ url('../fonts/roboto-v30-latin-italic.woff') format('woff'), /* Modern Browsers */ url('../fonts/roboto-v30-latin-italic.ttf') format('truetype'), /* Safari, Android, iOS */ url('../fonts/roboto-v30-latin-italic.svg#Roboto') format('svg'); /* Legacy iOS */
}

/* roboto-500 - latin */
@font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    src: url('../fonts/roboto-v30-latin-500.eot'); /* IE9 Compat Modes */
    src: url('../fonts/roboto-v30-latin-500.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */ url('../fonts/roboto-v30-latin-500.woff2') format('woff2'), /* Super Modern Browsers */ url('../fonts/roboto-v30-latin-500.woff') format('woff'), /* Modern Browsers */ url('../fonts/roboto-v30-latin-500.ttf') format('truetype'), /* Safari, Android, iOS */ url('../fonts/roboto-v30-latin-500.svg#Roboto') format('svg'); /* Legacy iOS */
}

/* roboto-700 - latin */
@font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    src: url('../fonts/roboto-v30-latin-700.eot'); /* IE9 Compat Modes */
    src: url('../fonts/roboto-v30-latin-700.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */ url('../fonts/roboto-v30-latin-700.woff2') format('woff2'), /* Super Modern Browsers */ url('../fonts/roboto-v30-latin-700.woff') format('woff'), /* Modern Browsers */ url('../fonts/roboto-v30-latin-700.ttf') format('truetype'), /* Safari, Android, iOS */ url('../fonts/roboto-v30-latin-700.svg#Roboto') format('svg'); /* Legacy iOS */
}

/* roboto-900 - latin */
@font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 900;
    src: url('../fonts/roboto-v30-latin-900.eot'); /* IE9 Compat Modes */
    src: url('../fonts/roboto-v30-latin-900.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */ url('../fonts/roboto-v30-latin-900.woff2') format('woff2'), /* Super Modern Browsers */ url('../fonts/roboto-v30-latin-900.woff') format('woff'), /* Modern Browsers */ url('../fonts/roboto-v30-latin-900.ttf') format('truetype'), /* Safari, Android, iOS */ url('../fonts/roboto-v30-latin-900.svg#Roboto') format('svg'); /* Legacy iOS */
}

/* General Layout Classes */

.navbar, .nav-list {
    height: 10vh;
    width: 100%;
    border-radius: 10px;
    box-shadow: 3px 6px 6px #ddd;
    background-color: white;
    margin-bottom: 20px;
}

.logo {
    max-height: 30%;
}

.nav-list {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
}

.btn-nav-container {
    display: flex;
    justify-content: flex-end;
    gap: 30px;
}

.container {
    display: flex;
    justify-content: flex-start;
}

.w15 {
    width: calc(15% - 10px);
    border-radius: 10px;
    margin-right: 10px;
}

.w25 {
    width: calc(25% - 10px);
    border-radius: 10px;
    margin: 0 10px;
}

.w60 {
    width: calc(60% - 10px);
    border-radius: 10px;
    margin-left: 10px;
}

.w100 {
    width: 100%;
    height: 100%;
}

.ps20 {
    padding: 0 20px;
}

.ps30 {
    padding: 0 30px;
}

.p20 {
    padding: 20px;
}

.sticktop {
    position: absolute;
    top: calc(10vh + 40px);
    margin: 0;
    width: calc(25% - 20px);
}

.sticktop-viewer {
    position: absolute;
    top: calc(10vh + 40px);
    width: calc(60% - 40px);
    margin-left: -20px;
    font-weight: 700;
}

.contact-viewer-content {
    margin-top: calc(13vh + 10px);
}


.w15, .w25, .w60, .w100 {
    background-color: white;
    box-shadow: 3px 6px 6px #ddd;
    border-radius: 10px;
    height: calc(90vh - 60px);
}

.contact-controls {
    height: 8vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--controlsBg);
    border-radius: 10px;
    box-shadow: 3px 6px 6px #ddd;
    margin-bottom: 10px;
}

.contact-contain {
    position: relative;
}

.contactlist {
    overflow-y: scroll;
    overflow-x: hidden;
}

.contact-item {
    min-height: 10vh;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    background-color: #fafafa;
    box-shadow: 3px 6px 6px #ddd;
    -webkit-user-select: none; /* Safari */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* IE10+/Edge */
    user-select: none; /* Standard */
}

.contact-item:before {
    content: "";
    width: 10px;
    height: 10vh;
    background-color: var(--controlsBg);
    position: absolute;
    left: 0;
    transition: all 250ms ease;
}

.contact-item:hover:before {
    background-color: var(--blueActive);
    width: 15px;
    transition: 250ms all ease;
}

.bookshelf {
    justify-content: center;
}

.bookshelf h3 {
    font-weight: 400;
}

.books {
    display: flex;
    flex-direction: column;
}

.element-bookshelf {
    background-color: #fafafa;
    border: none;
    width: 100%;
    min-height: 8vh;
    box-shadow: 3px 6px 6px #ddd;
}

.books-dyn {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.placeholder {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.placeholder p {
    font-size: 1.5rem;
}

/* Colors */
/* BGs */

.ce-inputs {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    height: 40vh;
    margin-top: calc(8vh - 10px);
}

.contact-viewer-content p {
    font-size: 1.15rem;
    margin-bottom: 20px;
}

.inputgroup {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    width: 100%;
}

.ce-inputs {
    border-radius: 0 !important;
    box-shadow: none !important;
}

.sticktop-with-controls {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}

.viewer-shortcuts {
    width: calc(60% - 40px);
    position: absolute;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 5vh;
    margin-left: -20px;
    margin-top: calc(8vh - 20px);
}

.viewer-shortcuts button {
    background-color: var(--controlsBg);
    border: 1px solid var(--blueActive);
    color: var(--blueActive);
    width: 50%;
    text-align: center;
    height: 100%;
    vertical-align: center;
    padding: 10px;
    transition: all 250ms ease;
}

.viewer-shortcuts button:hover {
    background-color: var(--blueActive) !important;
    color: var(--whiteText);
}

.about-button:hover {
    background-color: var(--blueHover);
}

.viewer-shortcuts button:disabled {
    background-color: var(--blueDisabled);
    color: var(--whiteText);
    border: 1px solid #ddd;
}

.viewer-shortcuts button:first-child {
    border-bottom-left-radius: 10px;
}

.viewer-shortcuts button:nth-child(2) {
    border-bottom-right-radius: 10px;
}

.inputgroup input {
    width: 100%;
    border: none;
    background-color: var(--controlsBg);
    height: 40px;
    border-radius: 5px;
    outline: none;
    color: var(--blackText);
    padding-left: 10px;
}

.inputgroup label {
    font-size: 1rem;
    margin: 10px 0;
}

.action-create-headline, .action-edit-headline {
    font-size: 1.5rem;
}

.buttongroup-editor {
    display: flex;
    position: absolute;
    width: 25%;
    justify-content: flex-end;
    align-items: center;
    right: 0;
    bottom: 0;
    height: 5vh;
    margin-right: 20px;
    margin-bottom: 20px;
}

/* text-elements */
p, a, h1, h2, h3, h4, h5, button, label {
    color: #222;
}

button, p, a {
    font-size: 1rem;
}

.heading {
    font-size: 1.5rem;
    z-index: 99;
}

/* Dividers */

hr {
    border-top: 1px solid white;
}

/* Link-Formatting */
a {
    text-decoration: none;
}

/* Buttons */
.btn-nav {
    border: none;
    background-color: var(--blueActive);
    height: 5vh;
    min-width: 160px;
    color: var(--whiteText);
    border-radius: 10px;
}

.btn-control {
    height: 4vh;
    width: 32%;
    background-color: var(--blueActive);
    border: none;
    border-radius: 10px;
    transition: all 250ms ease;
    color: var(--whiteText);
}

.btn-control:disabled, .btn-bookdelete:disabled {
    background-color: var(--blueDisabled);
    color: var(--whiteText);
}

.btn-cancel, .btn-save, .btn-edit-save, .btn-close-viewer {
    border-radius: 10px;
    height: 5vh;
}

.btn-cancel {
    border-bottom-left-radius: 0;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}

.btn-save, .btn-edit-save {
    border-bottom-left-radius: 0;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    border-left: 1px solid rgba(255, 255, 255, 0.5);
}

.btn-close-viewer {
    border-top-left-radius: 10px;
    border-top-right-radius: 0;
    border-bottom-left-radius: 0;
}

.btn-books-contain {
    display: flex;
    justify-content: space-between;
    position: absolute;
    bottom: 20px;
    width: calc(15% - 20px);
}

.btn-bookdelete {
    border-bottom-right-radius: 10px;
}

.btn-bookcreate {
    border-bottom-left-radius: 10px;
}

.btn-books {
    background-color: var(--blueActive);
    color: var(--whiteText);
    height: 5vh !important;
    min-height: 0 !important;
}

.btn-control:hover, .btn-bookcreate:hover, .btn-bookdelete:hover, .btn-pp-cancel:hover, .btn-pp-save:hover, .btn-save:hover, .btn-edit-save:hover, .btn-cancel:hover, .btn-nav:hover {
    background-color: var(--blueHover);
    transition: all 250ms ease;
}

.btn-pp-save:hover:disabled {
    background-color: var(--blueDisabled);
}

/* Util classes (used by ts) */
.invisible {
    display: none !important;
}

/* Popup for naming the books */
.book-naming-popup-content {
    position: fixed;
    width: 30%;
    left: 35%;
    height: 20%;
    top: 40%;
    background-color: #fafafa;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-radius: 5px;
}

.book-naming-popup input {
    width: 80%;
    height: 40px;
    margin: 10px;
    background-color: var(--controlsBg);
    border: none;
    border-radius: 5px;
    padding-left: 10px;
    color: var(--blackText);
    outline: none;
}

.book-naming-popup-overlay {
    position: fixed;
    width: 300%;
    height: 100vh;
    background-color: #eee;
    opacity: 0.7;
    top: 0;
    left: 0;
}

.popup-buttons {
    display: flex;
    width: 80%;
    justify-content: flex-end;
    gap: 10px;
}

.selected, .multiselect {
    background-color: var(--blueDisabled) !important;
}

.multiselect:before {
    background-color: var(--blueActive);
}

/*
About popup
 */

.about-popup {
    position: fixed;
    width: 30%;
    right: -30%;
    height: 100vh;
    top: 0;
    background-color: #fafafa;
    color: var(--blackText);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 20px;
    padding: 50px;
    text-align: center;
    transition: right 250ms ease;
}

.about-popup h1 {
    font-size: 3rem;
}

.about-popup h2, .about-popup h2 a {
    font-size: 1.5rem;
}

.about-popup h2 a, .about-popup p a {
    color: var(--blueActive);
}

.about-popup h2 a:hover, .about-popup p a:hover {
    color: var(--blueDisabled);
}

.about-button {
    width: 100%;
    background-color: var(--blueActive);
    color: var(--whiteText);
    border: none;
    border-radius: 5px;
    padding: 10px;
    transition: 250ms all ease;
}

.form-input:invalid {
    background-color: rgba(255, 0, 0, 0.7);
}

.contact-contain {
    margin-top: calc(8vh + 10px);
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.btn-control:disabled:hover {
    background-color: var(--blueDisabled);
}

.draggedover {
    background-color: var(--blueActive) !important;
    color: var(--whiteText);
}

@media (prefers-color-scheme: dark) {
    :root {
        --darkBg: #111;
        --darkElements: #222;
        --darkControls: #333;
        --blueActive: #cc6d2c;
        --blueDisabled: rgba(230,122,50,0.25);
        --blueHover: #e67a32;
        --darkInputs: #444;
    }
    body {
        background-color: var(--darkBg);
    }
    .sidebar,.contactlist,.editarea, .contact-viewer, .about-popup, .contact-editor, .placeholder, .navbar, .nav-list {
        background-color: var(--darkElements);
        box-shadow: 3px 3px 6px #0F0F0F;
    }
    .btn-bookdelete, .btn-bookcreate {
        box-shadow: 3px 3px 6px #0F0F0F;
    }
    .contact-controls {
        background-color: var(--darkControls);
        box-shadow: 3px 3px 6px #0f0f0f;
    }
    .placeholder p {
        color: var(--whiteText);
    }
    .nav-list img {
        filter: invert(100%);
    }
    p, a, h1, h2, h3, h4, h5, button, label {
        color: white;
    }
    .viewer-shortcut-call, .viewer-shortcut-email {
        background-color: var(--darkControls) !important;
        color: var(--whiteText);
    }
    .contact-item, .book {
        background-color: var(--darkElements);
        box-shadow: 3px 3px 6px #0F0F0F;
    }

    .contact-item:before {
        background-color: var(--darkInputs);
    }

    .ce-inputs {
        background-color: var(--darkElements);
    }

    .inputgroup input {
        background-color: var(--darkInputs);
        color: var(--whiteText);
    }
    .btn-save,.btn-edit-save {
        border-left: 1px solid var(--darkInputs);
    }
}